@using CourseProject.Models
@model List<PropertiesViewModel>

@{
    ViewBag.Title = "Списък на наличните имоти";
}

<div class="row">
    <h4>Списък на наличните имоти</h4>
    <hr />

    <div class="table-actions">
        @Html.ActionLink("+ Нов", "Add", null, new { @class = "btn btn-default" })
        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Назад</a><br />
        }
    </div>
        @foreach (var p in Model)
        {
            
                for (int l = 0; l < 1; l++)
                {
                
                    <div class="col-md-3 product-container">
                        <img src="~/Content/property.jpg" width=150 />
                        <h4>@p.Property</h4>
                        <span class="price"><br />@p.Price</span> <br />
                        <span class="product-buttons">
                            @Html.ActionLink("Разгледай", "ViewProperty", "Property", new { propertyId = p.Id }, new { @class = "btn btn-primary" })
                        </span>
                    </div>
                
                }
            
        }
    </div>
