@using CourseProject.db.Entities
@model List<Property>

@{
    ViewBag.Title = "Списък на наличните имоти";
}

<div class="row">
    <h4>Списък на наличните имоти</h4>
    <hr />

    <div class="table-actions">
        @Html.ActionLink("+ Нов", "Add", null, new { @class = "btn btn-default" })
    </div>

    <div class="row">
        @foreach (Property p in Model)
        {
            <div class="col-md-3 product-container">
                <h4>@p.Type  </h4>
                @if (p.Id != 0)
                {
                    <div class="ratings">
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width:@p.Id%"></div> <br>@((double)p.Id / 20)<span>/5</span>
                    </div>
                }
                else
                {
                    <p><br /></p>
                }
                <span class="price"><br />@p.Price</span> <br />
                <span class="product-buttons">
                    <a href="/Property/@p.Id" class="btn btn-success">Разгледай</a><br />
                </span>

            </div>
        }
    </div>
</div>
