@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Курсов проект</h1>
    <p class="lead">по Уеб програмиране с .NET и Обектно ориентирано програмиране</p>
    <p><a href="https://www.microsoft.com/net/" class="btn btn-primary btn-lg">научете повече &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Тема</h2>
        <p>
            Проекта е на тема недвижими имоти. В него е представен списък на всички недвижими имоти, които са в базата данни на агенцията. Можем да ги редактираме, да добавяме нови, или да изтриваме съществуващи такива.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Дата на изпита</h2>
        <p>08.06.2018</p>
    </div>
    <div class="col-md-4">
        <h2>Програмист</h2>
        <p>Георги Стоянов Дяков №20069</p>
    </div>
</div>